* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

.form-alta-cuit {
    margin: 30px auto;
    font: caption;
    /* text-align: center; */
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.cuit {
    width: 10%;
}

.w-4 {
    width: 4.5rem;
}

.w-3 {
    width: 3.5rem;
}

.w-2 {
    width: 2.5rem;
}

.w-1 {
    width: 1.5rem;
}

.title-comprobantes {
    text-align: center;
    text-transform: none;
}

.checkbox {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
}