//Configuraciones globales de mi aplicacion

//Colors
$colorTextos: #7e7e7e;
$colorBotones: #f69229;
$colorFondo: #5d8a9f;
$colorSubtitulo: #3bb2df;
$colorInvalid: #dc3545;
$dark-grey: #363636;


//Secciones
$paddingSecciones: 60px  0;

//Elementos
$marginElementos: 40px;