.header__menu {
    min-width: 1300px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2.75rem;
}

.header__title {
    margin-right: 1rem;
}

.header__toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -1rem;
}

.header__wrapper .header__toolbar .btn {
    margin-right: .5rem;
}

.header__toolbar .btn i {
    margin-right: 10px;
}

.header__sub {
    justify-content: flex-start;
    padding-left: 40px;
    align-items: baseline;
}

.header__wrapper .sub {
    margin-top: 10px;
    padding-left: 2.5rem;
}

.header__title_sub {
    font-size: 21px;
}