.link {
    color: $dark-grey;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}